<h1>Rock Paper Scissors</h1>

<p>We played scissors!</p>
<p>They played <%= @random_move %>!</p>

<% if @random_move == "paper" %>
  <p>We won!</p>
<% elsif @random_move == "rock" %>
  <p>We lost!</p>
<% else %>
  <p>We tied!</p>
<% end %>

<a href="/rock">Play Rock</a>
<a href="/paper">Play Paper</a>
<a href="/scissors">Play Scissors</a>
<a href="/">Rules</a>
